h1 {
  font-family: 'Homemade Apple', cursive;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
}

header {
  width: 100%;
  background-color: #ff6699;
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  background-color: pink;
  flex-direction: column;
  align-items: center;
}

img {
  border-width: thick;
  margin-top: 5%;
}


button {
  position: absolute;
  font-size-adjust: none;
  font-size: 20px;
  border-radius: 10px;
  width: 500px;
  height: 50px;
  background-color: #9ee6c6;
  color: white;
  border: 1px dashed grey;
  font-family: 'Gochi Hand', cursive;
  top: 47%;
}

.gif {
  position: absolute;
  bottom: 15%;
}
p {
  font-size: 30px;
  font-family: 'Nanum Pen Script', cursive;
  color: #ff61ad;
}
.part1 {
  padding-right: 10%;
  position: absolute;
  top: 25%;
  justify-content: space-evenly;
}

.part2 {
  padding-left: 10%;
  position: absolute;
  top: 30%;
  justify-content: space-evenly;
}
